#bg
{
    width:100%;
    height: 500px;
    background-image:url('http://i.imgur.com/PnT788M.png');
    background-repeat:no-repeat;
    background-position:center;
    background-size:cover;}
.nav{
    background: transparent;
}
.primary{
    background: #283962;
}
.row{
    margin-bottom: 0px !important;
}
.card-image{
	height: 200px;
}